* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.contanier{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
}

.navbar .logo{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}


.navbar a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}


.navbar a:hover{
    color: gray;
}


.navbar .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.header{
    background-color: #1F2937;
    color: white;
    min-height: 400px;
    font-family: sans-serif;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img{
    max-width: 500px;
    margin-top: 50px;
    margin-left: 10px;
}


.header .contanier{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background-color: dodgerblue;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px;
    margin-top: 10px;
    color: white;
}



.boxes .contanier{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}


.box{
    flex: 1;
    border-radius: 8px;
    margin: 20px 10px;
    padding: 15px;
}

.box img{
    border:  solid dodgerblue;
    border-radius: 10px;
}

@media(max-width: 768px){
    .header .contanier{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .boxes .contanier{
        display: block;
        text-align: center;
    }
}

.quote{
    text-align: center;
    background-color: gainsboro;
    padding: 50px;
}


.quote .vc{
    font-style: italic;
    font-family: sans-serif;
    font-size: 25px;
    color: gray;
}

.quote .mee{
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.cta .container{
    display: flex;
    justify-content: center;
}

.bb{
    background-color: dodgerblue;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
    width: 390px;
}

.bb h1{
    color: white;
}


.bb p{
    color: white;
}


.bb button{
    float: right;
    border: solid white;
    border-radius: 5px;
}

footer{
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 10px;
}